<h1> Delete a post </h1>
<p>
  Are you sure you want to delete this post?
</p>

<ul>

    <label>Title</label>
    <li>{{post.title}}</li>



    <label>Content</label>
    <li>{{post.content}}</li>
  </ul>
  <input type="button" class="btn btn-danger" value="Yes, delete" ng-click="delete()"></input>
</form>
