<h1>Home page</h1>
<div class="container">
  <p>
    <a href="/#/new-post">Add a new post</a>
  </p>
  <div class="row">
    <div class="col-md-8" ng-repeat="post in post">
            <a href='/#/post/{{post._id}}/delete'><i class="glyphicon glyphicon-remove"></i></a> <a href="/#/post/{{post._id}}">{{post.title}}</a>
  </div>
  </div>
</div>
