<h1> Add a new post </h1>

<form>
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" ng-model="post.title"></input>
  </div>

  <div class="form-group">
    <label>Content</label>
    <textarea class="form-control" ng-model="post.content"></textarea>
  </div>
  <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
</form>
